.TopEdge {
  border-top: none;
}

.BottomEdge {
  border-bottom: none;
}

.BottomEdge {
  border-bottom: none;
}

.RightEdge {
  border-right: none;
}

.LeftEdge {
  border-left: none;
}

.grid_cell:hover {
  background: #eeeeee;
}

#grid {
  display: grid;
  grid-template-columns: repeat(var(--grid_size), 1fr);
  grid-template-rows: repeat(var(--grid_size), 1fr);
  grid-gap: 0px;
  width: 40vw;
  height: 40vw;
  margin: 0 auto;
}

.grid_cell {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-size: 30px;
}